*.tflite filter=lfs diff=lfs merge=lfs -text
PawPal/back-end/newenv/lib/python3.10/site-packages/jaxlib/mlir/_mlir_libs/libjaxlib_mlir_capi.dylib filter=lfs diff=lfs merge=lfs -text
PawPal/back-end/newenv/lib/python3.10/site-packages/tensorflow/compiler/mlir/stablehlo/stablehlo_extension.so filter=lfs diff=lfs merge=lfs -text
PawPal/back-end/newenv/lib/python3.10/site-packages/clang/native/libclang.dylib filter=lfs diff=lfs merge=lfs -text
PawPal/back-end/newenv/lib/python3.10/site-packages/jaxlib/xla_extension.so filter=lfs diff=lfs merge=lfs -text
PawPal/back-end/newenv/lib/python3.10/site-packages/tensorflow/libtensorflow_cc.2.dylib filter=lfs diff=lfs merge=lfs -text
PawPal/back-end/tensorflow-2.16.2-cp39-cp39-macosx_10_15_x86_64.whl filter=lfs diff=lfs merge=lfs -text
back-end/newenv/lib/python3.10/site-packages/jaxlib/mlir/_mlir_libs/libjaxlib_mlir_capi.dylib filter=lfs diff=lfs merge=lfs -text
back-end/newenv/lib/python3.10/site-packages/tensorflow/compiler/mlir/stablehlo/stablehlo_extension.so filter=lfs diff=lfs merge=lfs -text
back-end/newenv/lib/python3.10/site-packages/clang/native/libclang.dylib filter=lfs diff=lfs merge=lfs -text
back-end/newenv/lib/python3.10/site-packages/jaxlib/xla_extension.so filter=lfs diff=lfs merge=lfs -text
back-end/newenv/lib/python3.10/site-packages/tensorflow/libtensorflow_cc.2.dylib filter=lfs diff=lfs merge=lfs -text
back-end/tensorflow-2.16.2-cp39-cp39-macosx_10_15_x86_64.whl filter=lfs diff=lfs merge=lfs -text
